In [1]:
import pandas as pd
df = pd.read_csv('카카오리뷰감성점수.csv')
df

,sentence,comment,score,ratio
0,0,['0'],0.000000,0.00
1,"""짜장 4.5 짬뽕 3 탕수육 4.5 양장피 3 기타요리류 3 청결 4 사장님땀냄새...","['짜장', '45', '짬뽕', '3', '탕수육', '45', '양장', '피'...",-0.370520,-0.14
2,가깝고 중식을 아주 좋아하며 많이많이 드실수있는 분께 추천드립니다. 특히 탕수육이 ...,"['가깝고', '중식', '을', '아주', '좋아하며', '많이', '많이', '...",2.236831,0.93
3,불친철하네.. 면이 많이 불어서 못먹음.,"['불친철', '하', '네', '면', '이', '많이', '불어', '서', '...",-0.538165,-0.27
4,짜장합격 짬뽕국물불합격 탕수육합격 ㅍㅌㅊ,"['짜장', '합격', '짬뽕', '국물', '불합격', '탕수육', '합격']",-0.254939,-0.14
...,...,...,...,...
2941,아 통오리미쳤고 샤브샤브 국물이 돌았어요ㅠㅠ 샤브매니아라 진짜 샤브국물에 굉장히 엄...,"['아', '통', '오리', '미쳤고', '샤브샤브', '국물', '이', '돌았...",5.395163,2.05
2942,맛있네요.,['맛있네요'],0.120637,0.12
2943,시내에서 가까우면서도 숲속 분위기의 식당입니다. 오리 맛도 괜찮고. 가성비도 나쁘지...,"['시내', '에서', '가까우면서도', '숲속', '분위기', '의', '식당',...",5.262832,2.18
2944,조금만 친절했더라면,"['조금', '만', '친절했더라면']",0.111873,0.08
2945,"오리샤브가 좀 냄새가 남. ""","['오리샤브', '가', '좀', '냄새', '가', '남']",-0.558090,-0.31

In [2]:
df = df.apply(pd.to_numeric, errors='coerce')

In [3]:
df.loc[df['ratio']>0, 'point'] = 1.00
df.loc[df['ratio']==0, 'point'] = 1.00
df.loc[df['ratio']<0, 'point'] = 1.01
df.loc[df['sentence']>=0, 'point'] = 0.00

In [5]:
df[50:100]

    sentence  comment      score  ratio  point
50       NaN      NaN  -0.742649  -0.42   1.01
51       NaN      NaN  -4.426646  -1.64   1.01
52       NaN      NaN   0.273954   0.11   1.00
53       NaN      NaN   0.309669   0.12   1.00
54       NaN      NaN   2.225151   1.11   1.00
55       NaN      NaN   0.000000   0.00   1.00
56       NaN      NaN   0.000000   0.00   1.00
57       NaN      NaN   1.116625   0.76   1.00
58       NaN      NaN   1.116625   1.12   1.00
59       NaN      NaN   6.764595   2.75   1.00
60       NaN      NaN   3.883914   1.42   1.00
61       NaN      NaN  -6.357594  -2.24   1.01
62       NaN      NaN   0.821350   0.51   1.00
63       NaN      NaN   1.995577   0.76   1.00
64       NaN      NaN   1.734710   0.73   1.00
65       NaN      NaN   1.116625   1.12   1.00
66       NaN      NaN   1.365278   0.55   1.00
67       NaN      NaN  -0.260245  -0.12   1.01
68       NaN      NaN   1.312878   0.63   1.00
69       NaN      NaN   1.699944   0.77   1.00
70       NaN      NaN   3.706981   1.52   1.00
71       NaN      NaN   0.790599   0.33   1.00
72       NaN      NaN   2.931279   1.73   1.00
73       NaN      NaN   0.694114   0.53   1.00
74       NaN      NaN   9.645594   3.71   1.00
75       NaN      NaN   1.116625   1.12   1.00
76       NaN      NaN   9.920241   3.94   1.00
77       NaN      NaN   6.668909   2.85   1.00
78       NaN      NaN   5.279210   2.40   1.00
79       NaN      NaN   2.208821   1.70   1.00
80       NaN      NaN   3.329350   1.42   1.00
81       3.0      NaN   0.000000   0.00   0.00
82       NaN      NaN  -9.440750  -3.36   1.01
83       NaN      NaN   5.536367   1.92   1.00
84       NaN      NaN  -1.659312  -0.76   1.01
85       NaN      NaN   0.868739   0.67   1.00
86       NaN      NaN   7.379132   3.00   1.00
87       NaN      NaN  10.401116   3.96   1.00
88       4.0      NaN   0.000000   0.00   0.00
89       NaN      NaN   0.452156   0.24   1.00
90       NaN      NaN  -0.047390  -0.03   1.01
91       NaN      NaN   2.174474   0.92   1.00
92       NaN      NaN   0.953620   0.50   1.00
93       NaN      NaN  -0.063042  -0.03   1.01
94       NaN      NaN   1.968039   1.23   1.00
95       NaN      NaN   3.729692   1.57   1.00
96       NaN      NaN   1.561143   0.71   1.00
97       NaN      NaN  -4.814809  -2.16   1.01
98       NaN      NaN  -6.515999  -2.35   1.01
99       NaN      NaN   0.000000   0.00   1.00

In [23]:
sum = 0
for i in df['point']:
    sum = sum+i
    if i==0.00:
        print(sum)
        sum=0
        continue

0.0
13.02
10.059999999999999
10.03
9.059999999999999
10.0
10.0
10.04
10.01
10.04
10.02
10.049999999999999
10.01
10.01
10.049999999999999
10.049999999999999
10.01
10.059999999999999
10.03
10.03
10.049999999999999
10.01
10.03
10.02
10.01
10.01
10.04
9.030000000000001
10.01
10.03
10.01
10.04
10.03
10.03
10.01
10.049999999999999
10.01
5.01
9.01
10.02
10.01
10.01
10.0
10.0
9.0
10.04
10.03
10.0
10.049999999999999
10.02
10.02
10.01
4.0
7.0
10.04
10.02
9.01
9.03
10.01
9.03
10.01
9.02
10.01
10.0
9.040000000000001
10.03
9.04
9.06
10.0
10.049999999999999
10.01
10.02
10.0
10.0
10.02
10.049999999999999
10.059999999999999
10.02
10.02
10.02
10.02
11.04
10.03
10.02
10.07
10.02
10.079999999999998
10.02
10.059999999999999
8.01
10.0
10.049999999999999
9.02
10.03
10.01
10.03
10.02
10.06
10.04
10.02
10.09
10.01
10.03
10.01
11.049999999999999
10.02
10.03
10.0
10.04
10.0
10.03
10.03
10.02
10.03
10.02
10.03
10.01
10.0
10.0
10.01
10.01
10.04
10.03
10.01
10.02
10.04
10.059999999999999
10.02
10.04
9.03
10.0
10.0
9.0
10.02
13.0
10.02
8.03
10.02
10.049999999999999
10.059999999999999
10.04
10.030000000000001
10.04
10.03
10.04
10.03
10.03
10.01
10.07
11.04
10.04
10.02
10.0
10.03
10.02
10.04
9.01
50.099999999999994
8.0
10.04
10.02
9.0
10.04
10.04
10.0
10.0
10.049999999999999
10.01
10.02
10.0
9.05
10.0
10.0
10.05
10.0
10.04
10.0
9.01
10.02
10.0
10.0
10.07
10.0
10.02
10.03
10.03
4.0
6.0
10.02
10.01
10.04
10.0
10.02
10.0
9.01
10.02
10.03
10.02
10.03
9.049999999999999
10.02
10.04